*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: rgba(47, 228, 228, 0.507);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(57, 224, 24, 0.514);
}

#page3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(241, 152, 19, 0.637);
}

.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(rgb(39, 172, 216),rgb(177, 54, 40));
}